
<div class="header">
  <div class="header-top-bar"><!-- BLUE FOOTER BAR --></div>
  <div class="header-top-racing-flag"> <!-- RACING FLAG --> </div>
  <div class="header-grid">

    <div class="header-logo grid-item">
      <%= image_tag "logo-final.png", :class => "" %>
    </div>

    <div class="header-description grid-item">
      <div class="header-description-wrapper">
        <div class="header-h1">
          <h1 id="question-american">An answer to the question every American asks themselves:</h1>
          <h1 id="nascar-reference">"What if <span id="pol">politics</span> was more <br>honest and real like <span id="nas">Nascar</span>?"</h1>
        </div>
        <div class="candidate-info-wrapper">
          <div class="candidate-info">
            <%= image_tag "icon-money.png", :class => "header-icon" %>
            <p>Each patch represents and outside source <br>who supports that candidate's campaign</p>
          </div>
          <div class="candidate-info">
            <%= image_tag "icon-scale.png", :class => "header-icon" %>
            <p>The bigger the patch, the more money the <br>candidate received from their 'sponsor'</p>
          </div>
          <% if false %>
            <div class="candidate-info">
              <%= image_tag "icon-info.png", :class => "header-icon" %>
              <p>The bigger the patch, the more money the <br>candidate received from their 'sponsor'</p>
            </div>
          <% end %>
        </div>
      </div>
    </div>

    <div class="header-jackets grid-item flex justify-center align-center">
      <% if true %>
        <div class="candidates-slider collapsed-slider" dir="rtl">
          <div><%= image_tag "Bernie-jacket.png", :class => "driver" %></div>
          <div><%= image_tag "Trump-jacket.png", :class => "driver" %></div>
        </div>
      <% end %>
    </div>

  </div>

  <div class="header-bottom-bar"><!-- BLUE FOOTER BAR --></div>
</div>


<!-- <div class="header">
  <div class="header-item logo">
    <div class="flex align-center justify-center">
      <%#= image_tag "logo-placeholder.png", :class => "logo" %>
    </div>
    <div class="tagline">
      <h1>Find out which presidential candidate is funded by which company</h1>
    </div>
  </div>

  <div class="header-item drivers flex align-center justify-center">
    <%#= render partial: "components/carrousel-drivers" %>
  </div>
</div> -->


