<div class="terms-wrapper">
  <div class="terms-content">
    <div class="product-logo">
      <%= link_to root_path do  %>
        <%= image_tag "logo-final.png", alt: "product logo presidential raise" %>
      <% end %>
    </div>
    <p class="effective-date">
      these terms and conditions are effective as of <b>01/20/2020</b>
      <br>
      to view our <b>privacy policy</b> please click <%= link_to "here", privacy_path  %>
    </p>
    <div class="terms-main">
      <div class="terms-element">
        <h1 class="terms-header">Overview</h1>
        <p class="terms-text">
          This website (www.presidentialraise.com) is operated by Presidential Raise. Throughout the site, the terms “we”, “us” and “our” refer to Presidential Raise. Presidential Raise offers this website, including all information, tools and services available from this site to you, the user, conditioned upon your acceptance of all terms, conditions, policies and notices stated here.
          <br><br>
          By visiting our site and/ or purchasing something from us, you engage in our “Service” and agree to be bound by the following terms and conditions (“Terms of Service”, “Terms”), including those additional terms and conditions and policies referenced herein and/or available by hyperlink. These Terms of Service apply to all users of the site, including without limitation users who are browsers, vendors, customers, merchants, and/ or contributors of content.
          <br><br>
          Please read these Terms of Service carefully before accessing or using our website. By accessing or using any part of the site, you agree to be bound by these Terms of Service. If you do not agree to all the terms and conditions of this agreement, then you may not access the website or use any services. If these Terms of Service are considered an offer, acceptance is expressly limited to these Terms of Service.
          <br><br>
          Any new features or tools which are added to the current store shall also be subject to the Terms of Service. You can review the most current version of the Terms of Service at any time on this page. We reserve the right to update, change or replace any part of these Terms of Service by posting updates and/or changes to our website. It is your responsibility to check this page periodically for changes. Your continued use of or access to the website following the posting of any changes constitutes acceptance of those changes.
          <br><br>
          In order to use this website the user must qualify as a consumer.
        </p>
      </div>
      <div class="terms-element">
        <h1 class="terms-header">Terms of Service</h1>
        <p class="terms-text">
          By agreeing to these Terms of Service, you represent that you are at least the age of majority in your state or province of residence, or that you are the age of majority in your state or province of residence and you have given us your consent to allow any of your minor dependents to use this site. You may not use our products for any illegal or unauthorized purpose nor may you, in the use of the Service, violate any laws in your jurisdiction (including but not limited to copyright laws). You must not transmit any worms or viruses or any code of a destructive nature. A breach or violation of any of the Terms will result in an immediate termination of your Services.
        </p>
      </div>
      <div class="terms-element">
        <h1 class="terms-header">Acceptable Use</h1>
        <p class="terms-text">
          This Website and the Service may only be used within the scope of what they are provided for, under these Terms and applicable law.
          <br><br>
          Users are solely responsible for making sure that their use of this Website and/or the Service violates no applicable law, regulations or third-party rights.
          <br><br>
          Therefore, the Owner reserves the right to take any appropriate measure to protect its legitimate interests including by denying Users access to this Website or the Service, terminating contracts, reporting any misconduct performed through this Website or the Service to the competent authorities – such as judicial or administrative authorities - whenever Users engage or are suspected to engage in any of the following activities:
          <br>
          <ul>
            <li>violate laws, regulations and/or these Terms;</li>
            <li>infringe any third-party rights;</li>
            <li>considerably impair the Owner’s legitimate interests;</li>
            <li>offend the Owner or any third party.</li>
          </ul>
          <br><br>
          We reserve the right to terminate your use of the Service or any related website for violating any of the prohibited uses.
        </p>
      </div>
      <div class="terms-element">
        <h1 class="terms-header">Delivery Policy</h1>
        <p class="terms-text">
          Once your order is placed, accepted, and paid in-full, we will ship as soon as possible. We do not guarantee any delivery windows or ship buy dates. We do not guarantee shipment tracking but will do our best to inform customers about any unforseen delays or other events of relevance to the customers.
          <br><br>
          Deliveries are made to the address indicated by the User and in the manner specified in the order summary.
          <br><br>
          Upon delivery, Users must verify the content of the delivery and report anomalies without undue delay, using the contact details provided in this document or as described in the delivery note. Users may refuse to accept the parcel if visibly damaged.
          <br><br>
          Goods are delivered to the following countries or territories: United States of America.
        </p>
      </div>
      <div class="terms-element">
        <h1 class="terms-header">Failed Delivery</h1>
        <p class="terms-text">
          The Owner cannot be held responsible for delivery errors due to inaccuracies or incompleteness in the execution of the purchase order by the User, nor for any damages or delays after handover to the carrier if the latter is arranged by the User.
          <br><br>
          If the goods are not received or collected at the time or within the deadline specified, the goods will be returned to the Owner, who will contact the User to schedule a second delivery attempt or to agree on the future course of action.
          <br><br>
          Unless otherwise agreed, any delivery attempt starting from the second shall be at the User’s expense.
        </p>
      </div>
      <div class="terms-element">
        <h1 class="terms-header">Return Policy</h1>
        <p class="terms-text">
          We do not accept returns. In case there is something wrong with the product you ordered we ask you to contact us at <%= mail_to "support@presidentialraise.com", 'support@presidentialraise.com' %> and we'll do our best in finding a solution.
        </p>
      </div>
      <div class="terms-element">
        <h1 class="terms-header">Refund Policy</h1>
        <p class="terms-text">
          We do not offer refunds.
        </p>
      </div>
      <div class="terms-element">
        <h1 class="terms-header">Cancellation Policy</h1>
        <p class="terms-text">
          We do not accept order cancellations.
        </p>
      </div>
      <div class="terms-element">
        <h1 class="terms-header">Reservation Policy</h1>
        <p class="terms-text">
          If you have purchased the right to purchase a product (hereafter called: "reservation") you have received a 16 digit coupon-code as part of your order confirmation. You can use this coupon to purchase a product for 90 days after the sale starts. We take responsibility of informing you by e-mail of the start of the sale. If you decide to purchase a product the price will be discounted by the amount you paid for the reservation.
        </p>
      </div>
      <div class="terms-element">
        <h1 class="terms-header">Access to External Resources</h1>
        <p class="terms-text">
          Through this Website Users may have access to external resources provided by third parties. Users acknowledge and accept that the Owner has no control over such resources and is therefore not responsible for their content and availability.
          <br><br>
          Conditions applicable to any resources provided by third parties, including those applicable to any possible grant of rights in content, result from each such third parties’ terms and conditions or, in the absence of those, applicable statutory law.
        </p>
      </div>
      <div class="terms-element">
        <h1 class="terms-header">Paid Products</h1>
        <p class="terms-text">
          Products on this website are provided on the basis of payment.
          <br><br>
          The fees, duration and conditions applicable to the purchase of such Products are described below and in the dedicated sections of this Website.
        </p>
      </div>
      <div class="terms-element">
        <h1 class="terms-header">Product Description</h1>
        <p class="terms-text">
          Prices, descriptions or availability of Products are outlined in the respective sections of this Website and are subject to change without notice.
          <br><br>
          These products or services may have limited quantities and are subject to return or exchange only according to our Return Policy.
          <br><br>
          We reserve the right, but are not obligated, to limit the sales of our products or Services to any person, geographic region or jurisdiction.
          <br><br>
          While Products on this Website are presented with the greatest accuracy technically possible, representation through photos, images, colors, or any other means is for reference only and implies no warranty as to the characteristics of the purchased Product.
          <br><br>
          We reserve the right to discontinue any product at any time.
          <br><br>
          We do not warrant that the quality of any products, services, information, or other material purchased or obtained by you will meet your expectations, or that any errors in the Service will be corrected.
        </p>
      </div>
      <div class="terms-element">
        <h1 class="terms-header">Purchasing Process</h1>
        <p class="terms-text">
          The purchasing process includes the following steps
          <br>
          <ul>
            <li>Users must choose the desired Product and verify their purchase selection.</li>
            <li>After having reviewed the information displayed in the purchase selection, Users may place the order by submitting it.</li>
          </ul>
        </p>
      </div>
      <div class="terms-element">
        <h1 class="terms-header">Accuracy of Billing and Account Information</h1>
        <p class="terms-text">
          We reserve the right to refuse any order you place with us. We may, in our sole discretion, limit or cancel quantities purchased per person, per household or per order. These restrictions may include orders placed by or under the same customer account, the same credit card, and/or orders that use the same billing and/or shipping address. In the event that we make a change to or cancel an order, we may attempt to notify you by contacting the e‑mail provided at the time the order was made. We reserve the right to limit or prohibit orders that, in our sole judgment, appear to be placed by dealers, resellers or distributors. You agree to provide current, complete and accurate purchase and account information for all purchases made at our store. You agree to promptly update your account and other information, including your email address and credit card numbers and expiration dates, so that we can complete your transactions and contact you as needed.
        </p>
      </div>
      <div class="terms-element">
        <h1 class="terms-header">Order Submission</h1>
        <p class="terms-text">
          The submission of an order determines contract conclusion and therefore creates for the User the obligation to pay the price, taxes and possible further fees and expenses, as specified on the order page.
          <br><br>
          In case the purchased Product requires active input from the User, such as the provision of personal information or data, specifications or special wishes, the order submission creates an obligation for the User to cooperate accordingly.
          <br><br>
          Upon submission of the order, Users will receive a receipt confirming that the order has been received.
          <br><br>
          All notifications related to the described purchasing process shall be sent to the email address provided by the User for such purposes.
        </p>
      </div>
      <div class="terms-element">
        <h1 class="terms-header">Prices</h1>
        <p class="terms-text">
          Users are informed during the purchasing process and before order submission, about any fees, taxes and costs (including, if any, delivery costs) that they will be charged.

          Prices on this Website are displayed: excluding any applicable fees, taxes and costs.
        </p>
      </div>
      <div class="terms-element">
        <h1 class="terms-header">Methods of Payment</h1>
        <p class="terms-text">
          Information related to accepted payment methods are made available during the purchasing process.
          <br><br>
          Some payment methods may only be available subject to additional conditions or fees. In such cases related information can be found in the dedicated section of this Website.
          <br><br>
          All payments are independently processed through third-party services. Therefore, this Website does not collect any payment information – such as credit card details – but only receives a notification once the payment has been successfully completed.
          <br><br>
          If payment through the available methods fail or is refused by the payment service provider, the Owner shall be under no obligation to fulfil the purchase order. Any possible costs or fees resulting from the failed or refused payment shall be borne by the User.
        </p>
      </div>
      <div class="terms-element">
        <h1 class="terms-header">Authorization of future PayPal Payment</h1>
        <p class="terms-text">
          If Users authorize the PayPal feature which allows future purchases, this Website will store an identification code linked to the Users’ PayPal account. This will authorize this Website to automatically process payments for future purchases or recurring installments of past purchases.
          <br><br>
          This authorization can be revoked at any time, either by contacting the Owner or by changing the user settings offered by PayPal.
        </p>
      </div>
      <div class="terms-element">
        <h1 class="terms-header">Retention of Product Ownership</h1>
        <p class="terms-text">
          Until payment of the total purchase price is received by the Owner, any Products ordered shall not become the User’s property.
        </p>
      </div>
      <div class="terms-element">
        <h1 class="terms-header">Third Party Links</h1>
        <p class="terms-text">
          Certain content, products and services available via our Service may include materials from third-parties. Third-party links on this site may direct you to third-party websites that are not affiliated with us. We are not responsible for examining or evaluating the content or accuracy and we do not warrant and will not have any liability or responsibility for any third-party materials or websites, or for any other materials, products, or services of third-parties. We are not liable for any harm or damages related to the purchase or use of goods, services, resources, content, or any other transactions made in connection with any third-party websites. Please review carefully the third-party’s policies and practices and make sure you understand them before you engage in any transaction. Complaints, claims, concerns, or questions regarding third-party products should be directed to the third-party.
        </p>
      </div>
      <div class="terms-element">
        <h1 class="terms-header">User Comments, Feedback, and other Submissions</h1>
        <p class="terms-text">
          If, at our request, you send certain specific submissions (for example contest entries) or without a request from us you send creative ideas, suggestions, proposals, plans, or other materials, whether online, by email, by postal mail, or otherwise (collectively, ‘comments’), you agree that we may, at any time, without restriction, edit, copy, publish, distribute, translate and otherwise use in any medium any comments that you forward to us. We are and shall be under no obligation (1) to maintain any comments in confidence; (2) to pay compensation for any comments; or (3) to respond to any comments. We may, but have no obligation to monitor, edit or remove content that we determine in our sole discretion are unlawful, offensive, threatening, libelous, defamatory, pornographic, obscene or otherwise objectionable or violates any party’s intellectual property or these Terms of Service. You agree that your comments will not violate any right of any third-party, including copyright, trademark, privacy, personality or other personal or proprietary right. You further agree that your comments will not contain libelous or otherwise unlawful, abusive or obscene material, or contain any computer virus or other malware that could in any way affect the operation of the Service or any related website. You may not use a false e‑mail address, pretend to be someone other than yourself, or otherwise mislead us or third-parties as to the origin of any comments. You are solely responsible for any comments you make and their accuracy. We take no responsibility and assume no liability for any comments posted by you or any third-party.
        </p>
      </div>
      <div class="terms-element">
        <h1 class="terms-header">Errors, Inaccuracies and Omissions</h1>
        <p class="terms-text">
          Occasionally there may be information on our site or in the Service that contains typographical errors, inaccuracies or omissions that may relate to product descriptions, pricing, promotions, offers, product shipping charges, transit times and availability. We reserve the right to correct any errors, inaccuracies or omissions, and to change or update information or cancel orders if any information in the Service or on any related website is inaccurate at any time without prior notice (including after you have submitted your order). We undertake no obligation to update, amend or clarify information in the Service or on any related website, including without limitation, pricing information, except as required by law. No specified update or refresh date applied in the Service or on any related website, should be taken to indicate that all information in the Service or on any related website has been modified or updated.
        </p>
      </div>
      <div class="terms-element">
        <h1 class="terms-header">Disclaimers of Warranties</h1>
        <p class="terms-text">
          This Website is provided strictly on an “as is” and “as available” basis. Use of the Service is at Users’ own risk. To the maximum extent permitted by applicable law, the Owner expressly disclaims all conditions, representations, and warranties — whether express, implied, statutory or otherwise, including, but not limited to, any implied warranty of merchantability, fitness for a particular purpose, or non-infringement of third-party rights. No advice or information, whether oral or written, obtained by user from owner or through the Service will create any warranty not expressly stated herein.
          <br><br>
          Without limiting the foregoing, the Owner, its subsidiaries, affiliates, licensors, officers, directors, agents, co-branders, partners, suppliers and employees do not warrant that the content is accurate, reliable or correct; that the Service will meet Users’ requirements; that the Service will be available at any particular time or location, uninterrupted or secure; that any defects or errors will be corrected; or that the Service is free of viruses or other harmful components. Any content downloaded or otherwise obtained through the use of the Service is downloaded at users own risk and users shall be solely responsible for any damage to Users’ computer system or mobile device or loss of data that results from such download or Users’ use of the Service.
          <br><br>
          The Owner does not warrant, endorse, guarantee, or assume responsibility for any product or service advertised or offered by a third party through the Service or any hyperlinked website or service, and the Owner shall not be a party to or in any way monitor any transaction between Users and third-party providers of products or services.
          <br><br>
          The Service may become inaccessible or it may not function properly with Users’ web browser, mobile device, and/or operating system. The owner cannot be held liable for any perceived or actual damages arising from Service content, operation, or use of this Service.
          <br><br>
          Federal law, some states, and other jurisdictions, do not allow the exclusion and limitations of certain implied warranties. The above exclusions may not apply to Users. This Agreement gives Users specific legal rights, and Users may also have other rights which vary from state to state. The disclaimers and exclusions under this agreement shall not apply to the extent prohibited by applicable law.
        </p>
      </div>
      <div class="terms-element">
        <h1 class="terms-header">Limitation of Liability</h1>
        <p class="terms-text">
          To the maximum extent permitted by applicable law, in no event shall the Owner, and its subsidiaries, affiliates, officers, directors, agents, co-branders, partners, suppliers and employees be liable for:
          <br>
          <ul>
            <li>any indirect, punitive, incidental, special, consequential or exemplary damages, including without limitation damages for loss of profits, goodwill, use, data or other intangible losses, arising out of or relating to the use of, or inability to use, the Service; and</li>
            <li>any damage, loss or injury resulting from hacking, tampering or other unauthorized access or use of the Service or User account or the information contained therein;</li>
            <li>any errors, mistakes, or inaccuracies of content;</li>
            <li>personal injury or property damage, of any nature whatsoever, resulting from User access to or use of the Service;</li>
            <li>any unauthorized access to or use of the Owner’s secure servers and/or any and all personal information stored therein;</li>
            <li>any interruption or cessation of transmission to or from the Service;</li>
            <li>any bugs, viruses, trojan horses, or the like that may be transmitted to or through the Service;</li>
            <li>any errors or omissions in any content or for any loss or damage incurred as a result of the use of any content posted, emailed, transmitted, or otherwise made available through the Service; and/or</li>
            <li>the defamatory, offensive, or illegal conduct of any User or third party. In no event shall the Owner, and its subsidiaries, affiliates, officers, directors, agents, co-branders, partners, suppliers and employees be liable for any claims, proceedings, liabilities, obligations, damages, losses or costs in an amount exceeding the amount paid by User to the Owner hereunder in the preceding 12 months, or the period of duration of this agreement between the Owner and User, whichever is shorter.</li>
          </ul>
          <br>
          This limitation of liability section shall apply to the fullest extent permitted by law in the applicable jurisdiction whether the alleged liability is based on contract, tort, negligence, strict liability, or any other basis, even if company has been advised of the possibility of such damage.
          <br><br>
          Some jurisdictions do not allow the exclusion or limitation of incidental or consequential damages, therefore the above limitations or exclusions may not apply to User. The terms give User specific legal rights, and User may also have other rights which vary from jurisdiction to jurisdiction. The disclaimers, exclusions, and limitations of liability under the terms shall not apply to the extent prohibited by applicable law.
        </p>
      </div>
      <div class="terms-element">
        <h1 class="terms-header">Indemnification</h1>
        <p class="terms-text">
          The User agrees to defend, indemnify and hold the Owner and its subsidiaries, affiliates, officers, directors, agents, co-branders, partners, suppliers and employees harmless from and against any and all claims or demands, damages, obligations, losses, liabilities, costs or debt, and expenses, including, but not limited to, legal fees and expenses, arising from
          <br>
          <ul>
            <li>User’s use of and access to the Service, including any data or content transmitted or received by User;</li>
            <li>User’s violation of these terms, including, but not limited to, User’s breach of any of the representations and warranties set forth in these terms;</li>
            <li>User’s violation of any third-party rights, including, but not limited to, any right of privacy or intellectual property rights;</li>
            <li>User’s violation of any statutory law, rule, or regulation;</li>
            <li>any content that is submitted from User’s account, including third party access with User’s unique username, password or other security measure, if applicable, including, but not limited to, misleading, false, or inaccurate information;</li>
            <li>User’s willful misconduct; or</li>
            <li>statutory provision by User or its affiliates, officers, directors, agents, co-branders, partners, suppliers and employees to the extent allowed by applicable law.</li>
          </ul>
        </p>
      </div>
      <div class="terms-element">
        <h1 class="terms-header">No Waiver</h1>
        <p class="terms-text">
          The Owner’s failure to assert any right or provision under these Terms shall not constitute a waiver of any such right or provision. No waiver shall be considered a further or continuing waiver of such term or any other term.
        </p>
      </div>
      <div class="terms-element">
        <h1 class="terms-header">Service Interruption</h1>
        <p class="terms-text">
          To ensure the best possible service level, the Owner reserves the right to interrupt the Service for maintenance, system updates or any other changes, informing the Users appropriately.
          <br><br>
          Within the limits of law, the Owner may also decide to suspend or terminate the Service altogether. If the Service is terminated, the Owner will cooperate with Users to enable them to withdraw Personal Data or information in accordance with applicable law.
          <br><br>
          Additionally, the Service might not be available due to reasons outside the Owner’s reasonable control, such as “force majeure” (eg. labor actions, infrastructural breakdowns or blackouts etc).
        </p>
      </div>
      <div class="terms-element">
        <h1 class="terms-header">Service Reselling</h1>
        <p class="terms-text">
          Users may not reproduce, duplicate, copy, sell, resell or exploit any portion of this Website and of its Service without the Owner’s express prior written permission, granted either directly or through a legitimate reselling program.
          <br><br>
          For information about the use of their personal data, Users must refer to the privacy policy of this Website which is hereby declared to be part of these Terms.
        </p>
      </div>
      <div class="terms-element">
        <h1 class="terms-header">Intellectual Property Rights</h1>
        <p class="terms-text">
          Without prejudice to any more specific provision of these Terms, any intellectual property rights, such as copyrights, trademark rights, patent rights and design rights related to this Website are the exclusive property of the Owner or its licensors and are subject to the protection granted by applicable laws or international treaties relating to intellectual property.
          <br><br>
          All trademarks — nominal or figurative — and all other marks, trade names, service marks, word marks, illustrations, images, or logos appearing in connection with this Website are, and remain, the exclusive property of the Owner or its licensors and are subject to the protection granted by applicable laws or international treaties related to intellectual property.
        </p>
      </div>
      <div class="terms-element">
        <h1 class="terms-header">Changes to these Terms</h1>
        <p class="terms-text">
          The Owner reserves the right to amend or otherwise modify these Terms at any time. In such cases, the Owner will appropriately inform the User of these changes.
          <br><br>
          Such changes will only affect the relationship with the User for the future.
          <br><br>
          The continued use of the Service will signify the User’s acceptance of the revised Terms. If Users do not wish to be bound by the changes, they must stop using the Service. Failure to accept the revised Terms, may entitle either party to terminate the Agreement.
          <br><br>
          The applicable previous version will govern the relationship prior to the User's acceptance. The User can obtain any previous version from the Owner.
        </p>
      </div>
      <div class="terms-element">
        <h1 class="terms-header">Assignment of contract</h1>
        <p class="terms-text">
          The Owner reserves the right to transfer, assign, dispose of by novation, or subcontract any or all rights or obligations under these Terms, taking the User’s legitimate interests into account. Provisions regarding changes of these Terms will apply accordingly.
          <br><br>
          Users may not assign or transfer their rights or obligations under these Terms in any way, without the written permission of the Owner.
        </p>
      </div>
      <div class="terms-element">
        <h1 class="terms-header">Contacts</h1>
        <p class="terms-text">
          All communications relating to the use of this website must be sent via e-mail to <%= mail_to "support@presidentialraise.com", 'support@presidentialraise.com' %>
        </p>
      </div>
      <div class="terms-element">
        <h1 class="terms-header">Severability</h1>
        <p class="terms-text">
          Should any provision of these Terms be deemed or become invalid or unenforceable under applicable law, the invalidity or unenforceability of such provision shall not affect the validity of the remaining provisions, which shall remain in full force and effect.
        </p>
      </div>
      <div class="terms-element">
        <h1 class="terms-header">US Users</h1>
        <p class="terms-text">
          Any such invalid or unenforceable provision will be interpreted, construed and reformed to the extent reasonably required to render it valid, enforceable and consistent with its original intent. These Terms constitute the entire Agreement between Users and the Owner with respect to the subject matter hereof, and supersede all other communications, including but not limited to all prior agreements, between the parties with respect to such subject matter. These Terms will be enforced to the fullest extent permitted by law.
        </p>
      </div>
      <div class="terms-element">
        <h1 class="terms-header">Governing Law</h1>
        <p class="terms-text">
          These Terms are governed by the law of the place where the Owner is based, as disclosed in the relevant section of this document, without regard to conflict of laws principles.
          <br><br>
          The exclusive competence to decide on any controversy resulting from or connected to these Terms lies with the courts of the place where the Owner is based, as displayed in the relevant section of this document.
        </p>
      </div>
      <div class="terms-element">
        <h1 class="terms-header">US Users - Surviving Provisions</h1>
        <p class="terms-text">
          This Agreement shall continue in effect until it is terminated by either this Website or the User. Upon termination, the provisions contained in these Terms that by their context are intended to survive termination or expiration will survive, including but not limited to the following:
          <br>
          <ul>
            <li>the User’s grant of licenses under these Terms shall survive indefinitely;</li>
            <li>the User’s indemnification obligations shall survive for a period of five years from the date of termination;</li>
            <li>the disclaimer of warranties and representations, and the stipulations under the section containing indemnity and limitation of liability provisions, shall survive indefinitely.</li>
          </ul>
        </p>
      </div>
      <div class="terms-element">
        <h1 class="terms-header">Amicable dispute resolution</h1>
        <p class="terms-text">
          Users may bring any disputes to the Owner who will try to resolve them amicably.
          <br><br>
          While Users' right to take legal action shall always remain unaffected, in the event of any controversy regarding the use of this Website or the Service, Users are kindly asked to contact the Owner at the contact details provided in this document.
          <br><br>
          The User may submit the complaint including a brief description and if applicable, the details of the related order, purchase, or account, to the Owner’s email address specified in this document.
          <br><br>
          The Owner will process the complaint without undue delay and within 21 days of receiving it.
        </p>
      </div>
    </div>
  </div>
</div>
<%= render partial: "components/footer" %>
